body{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --very-ligth-pink: #838383;
    --text-input-field: #F7F7F7;
    --pink-hospital: #FF85E0;
    --black: #0C0F0A;
    --white: ##F5F5F5;
    --shadows: #F2B5D4;
    --secundary-color: #F7D6E0;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/* =============== Start Register.html ===============*/
/* =============== Start Email.html ===============*/
/* =============== Start Login.html ===============*/
/* =============== Start MyAccount.html ===============*/

/* Create new password section. */

.newCard{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* Content. */

.newCard__container{
    margin: 20px auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    background-color: var(--secundary-color);
    padding: 20px;
    border: 2px solid var(--pink-hospital);
    border-radius: 8px;
    box-shadow: 0px 20px 60px 25px var(--shadows);
}

/* Logo. */

.newCard__logo{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 28px;
    justify-self: center;
    display: none;
}

/* Title and description. */

.newCard__title{
    font-size: var(--lg);
    margin-bottom: 16px;
    text-align: center;
}

.newCard__subtitle{
    color: var(--very-ligth-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

/* Form */

.form{
    display: flex;
    flex-direction: column;
}

/* Password and Repeat password. */

.form__label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: .5px solid var(--pink-hospital);
    border-radius: 8px;
    height: 25px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    transition: .5s;
    outline: none;
}

.input:hover,
.input:focus,
.input:active{
    border: 2px solid var(--pink-hospital);
    transition: .3s;
}

/* Option for can view the password in the last inputs. */

.form__button{
    margin-top:14px;
    margin-bottom:10px;
}

/* Button for send the form. */

.button{
    border-radius: 8px;
    border:none;
    color: var(--white);
    width: 100%;
    height: 35px;
    cursor: pointer;
    font-size: var(--md);
    transition: 1s;
}

.button__primary{
    background-color: var(--pink-hospital);
}

.button__secondary{
    border: 1px solid var(--pink-hospital);
}

.button:hover{
    transform: scale(0.95);
    transition: 1s;
}

.button:active{
    transform: scale(1.02);
    transition: .1s;
}

/* Design for the mobiles. */

@media only screen and (max-width: 375px){
    .newCard__container{
        width: 70%;
    }
}

/* Design for the mobiles and tablets. */

@media only screen and (max-width: 640px){
        .newCard__logo{
        display: block;
    }
}

/* =============== End Register.html ===============*/

/* Content */

.newCard__container--email{
    justify-items: center;
}

/* Image email */

.newCard__container--image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--shadows);
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 25px;
}

.newCard__image{
    width: 60%;
}

/* Button for login and section for resend the email. */

.newCard__container--paragraph{
    font-size: var(--sm);
    margin-top: 20px;
}

.newCard__link{
    color: var(--pink-hospital);
    text-decoration: none;
}

/* =============== End Email.html ===============*/

/* Text with a link for get the password. */

.newCard__container--forgot{
    text-align: center;
}

/* Button for the create a new user. */

.newCard__container--sign-up{
    width: 100%;
    display: flex;
    justify-content:center;
}

/* Design for tablets and desktops. */

@media only screen and (min-width: 376px){
    .newCard__container--sign-up{
        align-self: start;
    }

    .newCard__button--sign-up{
        width: 70%;
        max-width: 300px;
    }
}

/* Design for mobiles. */

@media only screen and (max-width: 375px) {
        .newCard__container--sign-up{
            position: absolute;
            bottom: 10px;
        }

        .newCard__button--sign-up{
            width: 70%;
    }
}

/* Design for moviles when the keyboard is active. */
@media only screen and (max-height:500px){
    .newCard__container--sign-up{
        position: relative;
        padding-bottom: 20px;
    }
}

/* =============== End Login.html ===============*/

/* Title. */

.newCard__title--account{
    text-align:start;
}

/* =============== End MyAccount.html ===============*/